{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	{% block links %}
	{% endblock %}
	<title></title>
</head>
<body>
	{% block menu %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<!--a class="navbar-brand" href="#">Navbar</a-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				{% for modulo in request.session.modulos %}
					{% if modulo == 'Producto' %}
					<li class="nav-item">
						<a class="nav-link" href="/productos/">Productos en inventario</a>
					</li>
					{% endif %}
				{% endfor %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuContabilidad" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Contabilildad
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuContabilidad">
							{% for modulo in request.session.modulos %}
								{% if modulo == 'Cuenta' %}
									<a class="dropdown-item" href="/cuenta/">Administracion de cuentas</a>
								{% endif %}
								{% if modulo == 'Transacciones' %}
									<a class="dropdown-item" href="/partida/">Libro diario</a>
								{% endif %}
							{% endfor %}
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuContabilidad" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Reportes
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuContabilidad">
							{% for modulo in request.session.modulos %}
								{% if modulo == 'Transacciones' %}
									<a class="dropdown-item" href="/reportes/libroDiario">Reporte libro diario</a>
									<a class="dropdown-item" href="/reportes/libroMayor">Reporte libro mayor</a>
									<a class="dropdown-item" href="/reportes/balanceGeneral">Reporte balance general</a>
									<a class="dropdown-item" href="/reportes/estadoResultado">Reporte estado de resultado</a>
									<a class="dropdown-item" href="/reportes/flujoEfectivo">Reporte flujo de efectivo</a>
									<a class="dropdown-item" href="/reportes/kardex/4">Reporte kardex</a>
								{% endif %}
							{% endfor %}
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/usuarios/">Usuarios</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuConfiguracion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Configuracion
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuConfiguracion">
						{% for modulo in request.session.modulos %}
							{% if modulo == 'Permisos' %}
								<a class="dropdown-item" href="/permisos/">Permisos</a>
							{% endif %}
							{% if modulo == 'Empresa' %}
								<a class="dropdown-item" href="/empresa/">Empresa</a>
							{% endif %}
						{% endfor %}
						<a class="dropdown-item" href="/usuarios/miUsuario">Mi cuenta</a>
						<a class="dropdown-item" href="/login/logout">Cerrar sesion</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<br/>
	{% endblock %}
	{% block content %}
	{% endblock %}
	<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>
